{set_previous_url ignore_current="1"}
{
{ifloop rel="dp"}
    {loop type="digressive" name="dp" limit=1 product_id={$smarty.get.product_id} quantity={$smarty.get.quantity}}
        "price":"{format_money number=$PRICE}",
        "promo_price":"{format_money number=$PROMO_PRICE}",
        "taxed_price":"{format_money number=$TAXED_PRICE}",
        "taxed_promo_price":"{format_money number=$TAXED_PROMO_PRICE}",
        {loop type="product_sale_elements" name="pse" default=1 product={$smarty.get.product_id}}
        "is_promo": {($IS_PROMO) ? 1 : 0}
        {/loop}
    {/loop}
{/ifloop}
{elseloop rel="dp"}
    {loop type="product_sale_elements" name="pse" default=1 product={$smarty.get.product_id}}
        "price":"{format_money number=$PRICE}",
        "promo_price":"{format_money number=$PROMO_PRICE}",
        "taxed_price":"{format_money number=$TAXED_PRICE}",
        "taxed_promo_price":"{format_money number=$TAXED_PROMO_PRICE}",
        "is_promo": {($IS_PROMO) ? 1 : 0}
    {/loop}
{/elseloop}
}
